:root {
  --main-background: #f8f8fa;
  --sub-background: #f1f1f5;
  --point-background: #dbdbdb;
  --time-background: #dbdbdb;
  --nav-background: #ffffff;
  --main-color: #42ab34;
  --sub-color: #e5c84d;
  --main-font: #191919;
  --sub-font: #707070;
  --thir-font: #ffffff;
  --line-color: #999999;
}
body {
  background-color: var(--main-background);
}
