.onboarding-login {
  position: relative;
}
.onboarding-login__img img {
  width: 157vw;
  height: 60vh;
}
.onboarding-login h1 {
  position: absolute;
  line-height: 20vw;
  font-size: 3rem;
  top: 22vh;
  left: 10vw;
}
.onboarding-login__button {
  position: absolute;
  width: 66vw;
  height: 12vh;
  top: 68vh;
  left: 18vw;
}
.onboarding-login__button p {
  text-align: center;
  font-size: 12px;
  margin-top: 2vh;
}
.onboarding-login__button button {
  width: 66vw;
  height: 5vh;
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  color: var(--nav-background);
  font-size: 1rem;
  margin-bottom: 0.8vh;
}
