.onboarding-earn {
  margin-top: 18vh;
  margin-left: 21vw;
  line-height: 6vh;
}
.onboarding-earn span {
  font-size: 2.5rem;
}
.onboarding-earn p {
  width: 210px;
  font-size: 1.4rem;
  position: absolute;
}
