.onboarding-login {
  width: 100%;
  height: 70vh;
}
.onboarding-login__img {
  width: 100%;
  height: 70%;
}
.onboarding-login__img img {
  width: 100%;
  height: 100%;
  margin-top: -10vh;
  object-fit: cover;
}
.onboarding-login h1 {
  line-height: 20vw;
  font-size: 2.5rem;
  margin-left: 10vw;
  margin-top: -22vh;
}
.onboarding-login__button {
  width: 66vw;
  height: 12vh;
  margin: 0 auto;
  margin-top: 16vh;
}
.onboarding-login__button button {
  width: 66vw;
  height: 5vh;
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  color: var(--nav-background);
  font-size: 1rem;
  margin-bottom: 0.8vh;
}
