.wrapper {
  overflow-x: scroll;
  height: 80vh;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0px;
}
.onboarding-influ {
  height: 80vh;
  position: relative;
}
.onboarding-influ > div {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid var(--sub-font);
  border-radius: 20px;
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.onboarding-influ img {
  width: 50px;
}
.onboarding-influ p {
  font-size: 0.6rem;
  text-align: center;
}
.onboarding-influ div:nth-child(1) {
  top: 12vh;
  left: 56vw;
}
.onboarding-influ div:nth-child(2) {
  top: 18vh;
  left: 14vw;
}
.onboarding-influ div:nth-child(3) {
  top: 26vh;
  left: 40vw;
  z-index: 3;
}
.onboarding-influ div:nth-child(4) {
  top: 36vh;
  left: 14vw;
}
.onboarding-influ div:nth-child(5) {
  top: 36vh;
  left: 60vw;
}
.onboarding-influ div:nth-child(6) {
  top: 50vh;
  left: 40vw;
}
.onboarding__influ__title {
  font-size: 1rem;
  text-align: center;
}
