.onboarding-earn {
  line-height: 6vh;
}
.onboarding-earn span {
  font-size: 2.5rem;
}
.onboarding-earn p {
  padding-top: 18vh;
  padding-left: 21vw;
  width: 210px;
  font-size: 1.4rem;
}
.onboarding__earn__title {
  font-size: 1rem;
  text-align: center;
}
