.mainpageWap {
  overflow: hidden;
  margin: 0px 6.4vw;
}
.mainpage__profi {
  width: 100%;
  height: 7.4vh;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
}
.mainpage__profi__pic {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #999999;
  margin-right: 3.2vw;
}
.mainpage__profi__pic img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.mainpage__profi__text h3 {
  font-size: 1rem;
}
.mainpage__profi__text > span {
  font-size: 0.8rem;
  color: var(--sub-font);
}
.mainpage__goal {
  width: 100%;
  height: 18vh;
  margin-bottom: 5vh;
}
.mainpage__goal h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.4vh;
}
.mainpage__walk {
  width: 100%;
  height: 6vh;
  background-color: var(--sub-background);
  border-radius: 10px;
  box-shadow: 2px 6px 6px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 1vh 0 0 3.2vw;
  margin-bottom: 1.4vh;
}
.mainpage__walk__value {
  width: 61vw;
  height: 2.2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
}
.mainpage__walk__value h2 {
  font-size: 0.9rem;
  color: var(--main-color);
  font-weight: 700;
}
.mainpage__walk__value h2 span {
  font-size: 1rem;
  margin-right: 1vw;
}
.mainpage__walk__value > span {
  font-size: 0.8rem;
  color: var(--sub-font);
}
.mainpage__walk__graph {
  width: 61vw;
  height: 1.2vh;
  position: relative;
  top: 0.5vh;
  float: left;
}
.mainpage__walk__graph__total {
  width: 236px;
  height: 1vh;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  position: absolute;
}
.mainpage__walk__graph__my {
  width: 44vw;
  height: 1vh;
  background-color: var(--main-color);
  border-radius: 4px;
  position: absolute;
}
.mainpage__walk__icon {
  width: 10vw;
  height: 8vw;
  position: relative;
  float: right;
  top: -16px;
  right: 10px;
}
.mainpage__walk__icon img {
  width: 10vw;
  height: 8vw;
}
.mainpage__money {
  width: 100%;
  height: 6vh;
  background-color: var(--sub-background);
  border-radius: 10px;
  box-shadow: 2px 6px 6px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 1vh 0 0 3.2vw;
}
.mainpage__money__value {
  width: 61vw;
  height: 2.2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
}
.mainpage__money__value h2 {
  font-size: 0.9rem;
  color: var(--sub-color);
  font-weight: 700;
}
.mainpage__money__value h2 span {
  font-size: 1rem;
  margin-right: 1vw;
}
.mainpage__money__value > span {
  font-size: 0.8rem;
  color: var(--sub-font);
}
.mainpage__money__graph {
  width: 61vw;
  height: 1.2vh;
  position: relative;
  top: 0.5vh;
  float: left;
}
.mainpage__money__graph__total {
  width: 236px;
  height: 1vh;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  position: absolute;
}
.mainpage__money__graph__my {
  width: 44vw;
  height: 1vh;
  background-color: var(--sub-color);
  border-radius: 4px;
  position: absolute;
}
.mainpage__money__icon {
  width: 10vw;
  height: 8vw;
  position: relative;
  float: right;
  top: -16px;
  right: 10px;
}
.mainpage__money__icon img {
  width: 8vw;
  height: 8vw;
}
.mainpage__today {
  width: 100%;
  height: 21vh;
  margin-bottom: 5vh;
}
.mainpage__today__title {
  display: flex;
  height: 3vh;
}
.mainpage__today__title h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 2vw;
}
.mainpage__today__title span {
  font-size: 0.5rem;
  color: var(--sub-font);
  margin-top: 0.6vh;
}
.mainpage__today__scroll {
  overflow-x: scroll;
  box-shadow: 2px 6px 6px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.mainpage__today__main {
  min-width: 100%;
  height: 18vh;
  background-color: var(--sub-background);
  border-radius: 20px;
  position: relative;
}
.mainpage__book {
  width: 100%;
  height: 24vh;
  margin-bottom: 5vh;
}
.mainpage__book h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.4vh;
}
.mainpage__book__main {
  width: 100%;
  height: 22vh;
  box-shadow: 2px 6px 6px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--sub-background);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2.4vh 2vw 2.4vh 2vw;
}
.mainpage__book__main h4 {
  font-size: 0.5rem;
  font-weight: 700;
  margin-bottom: 1.2vh;
}
.mainpage__book__date {
  width: 100%;
  height: 6.6vh;
  display: flex;
  justify-content: space-between;
}
.mainpage__book__date div {
  width: 9.4vw;
  height: 5.5vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backgroundGreen {
  background-color: var(--main-color);
  opacity: 0.8;
}
.mainpage__book__date span:nth-of-type(1) {
  color: var(--sub-font);
  font-size: 0.9rem;
}
.mainpage__book__date span:nth-of-type(1) {
  font-size: 0.8rem;
}
.mainpage__book__time {
  width: 40vw;
  height: 8vh;
  float: left;
}
.mainpage__book__time h4 {
  font-size: 0.5rem;
  font-weight: 700;
}
.mainpage__book__select select {
  width: 12vw;
  height: 5vh;
  border: none;
  background-color: var(--time-background);
  border-radius: 10px;
  -webkit-appearance: none;
  font-size: 1.6rem;
  font-weight: 300;
  box-sizing: border-box;
  padding-left: 2vw;
}
.mainpage__book__btn {
  width: 30vw;
  height: 8vh;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.mainpage__book__btn button {
  width: 20vw;
  height: 5.5vh;
  border: none;
  background-color: var(--main-color);
  color: var(--thir-font);
  border-radius: 10px;
  font-size: 1rem;
}
.mainpage__calendar {
  width: 100%;
  height: 35.5vh;
  box-shadow: 2px 6px 6px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--sub-background);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 2.6vw 1.4vh 2.6vw;
  margin-bottom: 5vh;
}
.mainpage__calendar__slide {
  width: 100%;
  height: 3.7vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 5vh;
}
.mainpage__calendar__main {
  width: 100%;
  height: 28vh;
  margin-top: 4vh;
}
.mainpage__calendar__week {
  width: 100%;
  height: 2vh;
  display: flex;
  justify-content: space-around;
}
.thisYearMonth {
  font-size: 1.2rem;
  font-weight: 500;
}
.mainpage__calendar__day {
  padding: 0px 10px;
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 16px;
  column-gap: 24px;
  text-align: center;
}
.mainpage__calendar__day > div:nth-child(7n + 1) {
  color: red;
}
.mainpage__calendar__day > div:nth-child(7n) {
  color: blue;
}
.NotThisMonth {
  opacity: 0.1;
}
.today {
  border-bottom: 3.5px solid black;
}

.mainpage__quote {
  width: 100%;
  height: 11vh;
  margin-bottom: 5vh;
}
.mainpage__quote h3 {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 1.4vh;
  line-height: 2.4vh;
}
.mainpage__quote__main {
  width: 100%;
  height: 7vh;
  box-shadow: 2px 6px 6px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--sub-background);
  border-radius: 14px;
  box-sizing: border-box;
  padding: 1.3vh 3.2vw 1.3vh 3.2vw;
}
.mainpage__quote__main .quote {
  font: 0.8rem;
}
.mainpage__weather {
  width: 100%;
  height: 11vh;
  margin-bottom: 12vh;
}
.mainpage__weather h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.4vh;
}
.mainpage__weather__main {
  width: 100%;
  height: 7vh;
  box-shadow: 2px 6px 6px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--sub-background);
  border-radius: 14px;
  box-sizing: border-box;
  padding: 1vh 3.2vw 1vh 3.2vw;
  display: flex;
  justify-content: space-between;
}
.mainpage__weather__condi {
  width: 40vw;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mainpage__weather__weather {
  font-size: 0.8rem;
  margin-bottom: 0.4vh;
  margin-left: 2vw;
}
.mainpage__weather__flex {
  display: flex;
  align-items: center;
}
.mainpage__weather__temp {
  font-size: 1.2rem;
  margin-left: 2vw;
}
.mainpage__weather__condi p {
  font-size: 0.6rem;
}
.mainpage__weather__flex span {
  margin: 0px 1vw;
}
.mainpage__weather__location {
  width: 40vw;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainpage__weather__location__value {
  font-size: 0.8rem;
}
.walkingDay {
  background-image: url(../img/calendarWalk.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 10;
}
.reserveModal {
  width: 250px;
  height: 160px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 900px;
  left: 60px;
  z-index: 10;
  border-radius: 20px;
}
.reserveModalTitle {
  text-align: center;
  margin-top: 10px;
}
.reserveTimeList {
  width: 140px;
  height: 100px;
  margin-left: 24px;
  margin-top: 12px;
  overflow: scroll;
}
.reserveTimeWrap {
  width: 120px;
  height: 24px;
  border-radius: 5px;
  display: flex;
  margin-top: 5px;
}
.reserveModalClose {
  float: right;
  margin-top: -20px;
  margin-right: 10px;
  background-color: white;
  border: none;
  font-size: 20px;
}
.reserveModalTime {
  display: flex;
  margin-bottom: 4px;
}
.reserveDelete {
  width: 20px;
  height: 20px;
  border: none;
  background-color: white;
}
.goalModal {
  width: 250px;
  height: 160px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 200px;
  left: 60px;
  z-index: 10;
  border-radius: 20px;
}
.goalModalClose {
  float: right;
  margin-top: -10px;
  margin-right: 10px;
  background-color: white;
  border: none;
  font-size: 20px;
}
.goalModalTitle {
  text-align: center;
  margin-top: 10px;
}
.goalInput {
  width: 100px;
  margin-top: 30px;
  margin-left: 70px;
  border: none;
  border-bottom: 2px solid black;
}
.goalSubmitBtn {
  width: 70px;
  height: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 88px;
}
.stepDataDott {
  width: 7px;
  height: 7px;
  background-color: var(--main-color);
  border-radius: 5px;
  position: absolute;
  margin-left: 20px;
}
.dottStepText,
.dottEndTimeText,
.dottStartTimeText {
  position: absolute;
  font-size: 10px;
  margin-left: 10px;
}

#mainpage__today__line {
  margin-left: 24px;
}
.todayStepErrorModal {
  width: 250px;
  height: 160px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 400px;
  left: 60px;
  z-index: 10;
  border-radius: 20px;
}
.todayStepErrorModalText {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 24px;
}
.noTodayStepDataText {
  z-index: 20;
  margin-top: 2vh;
  margin-left: 5vw;
}
