.onboarding-plan {
  line-height: 6vh;
}
.onboarding-plan span {
  font-size: 2.5rem;
}
.onboarding-plan p {
  width: 212px;
  font-size: 1.4rem;
  padding-top: 18vh;
  padding-left: 21vw;
}
.onboarding__plan__title {
  font-size: 1rem;
  text-align: center;
}
