.profilepage__profile {
  font-size: 24px;
  margin-top: 10vh;
  text-align: center;
}
.profile__backbtn {
  width: 14px;
  height: 24px;
}
.wrap {
  overflow: hidden;
  margin: 0px 6.4vw;
}
.profile__namewrap {
  text-align: center;
  margin-top: 5vh;
}
#logoutBtn {
  margin-top: 5vh;
  border: none;
  background-color: #f8f8fa;
  float: right;
}
.profile__bodywrap {
  width: 250px;
  height: 200px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 10vh;
}
.profileHeightFixBtn {
  width: 24px;
  height: 24px;
  margin-left: 14px;
}
.profile__bodywrap__height {
  display: flex;
  justify-content: center;
}
.profile__bodywrap__heighttext{
  width: 100px;
  border-bottom: 2px solid black;
  font-size: 12px;
}
.heightModal {
  width: 250px;
  height: 160px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 240px;
  left: 70px;
  z-index: 10;
  border-radius: 20px;
}
.heightModalTitle {
  text-align: center;
  margin-top: 10px;
}
.heightModalClose {
  float: right;
  margin-top: -10px;
  margin-right: 10px;
  background-color: white;
  border: none;
  font-size: 20px;
}
.heightInput {
  width: 40px;
  margin-top: 30px;
  margin-left: 100px;
  border: none;
  border-bottom: 2px solid black;
}
.heightSubmitBtn {
  width: 70px;
  height: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 88px;
}
.profile__bodywrap__weight {
  width: 100px;
  margin-top: 4vh;
  margin-left: 56px;
  border: none;
  border-bottom: 2px solid black;
  font-size: 14px;
}