@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import "./reset.css";
@import "./style.css";
@import "../components/bar.css";
@import "../components/mainpage_title.css";

.wrap {
  overflow: hidden;
  margin: 0px 6.4vw;
  padding-bottom: 12vh;
}
.user-walk-asset-wrap {
  width: 100%;
  height: 22vh;
  background-color: var(--sub-background);
  border-radius: 20px;
  box-shadow: 2px 6px 6px 3px rgba(0, 0, 0, 0.2);
  margin-top: 5vh;
  box-sizing: border-box;
  padding: 2.5vh 5.2vw 2.5vh 5.2vw;
}
.user-walk-total-asset {
  width: 100%;
  height: 4.2vh;
  display: flex;
  align-items: center;
  margin-bottom: 2.5vh;
}
.user-walk-total-asset img {
  width: 9vw;
  margin-right: 4.8vw;
}
.user-walk-asset-title-wrap {
  width: 100%;
  height: 4.5vh;
  box-sizing: border-box;
  margin-bottom: 2.4vh;
}
.user-walk-asset-title-wrap h3 {
  font-size: 0.8rem;
}
.user-walk-asset-next-title-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
}
.user-walk-asset-next-title {
  width: 34vw;
  height: 1.3vh;
  font-size: 0.5rem;
  color: var(--sub-font);
  margin-top: 1vh;
}
.user-walk-asset-total-title {
  width: 20vw;
  height: 1.3vh;
  font-size: 0.5rem;
  color: var(--sub-font);
  margin-top: 1vh;
  margin-right: -3vw;
}
.user-walk-asset-total-title img {
  width: 2vw;
}
.user-walk-asset-graph-wrap {
  width: 100%;
  height: 4vh;
}
.user-walk-asset-graph-wrap span {
  font-size: 0.5rem;
  color: var(--sub-font);
}
.user-walk-asset-graph-range {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.user-walk-asset-graph {
  width: 100%;
  height: 1.2vh;
  position: relative;
  top: 0.5vh;
  float: left;
  margin-top: 0.4vh;
}
.user-walk-asset-total-graph {
  width: 76vw;
  height: 1vh;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  position: absolute;
}
.user-walk-asset-user-graph {
  width: 10vw;
  height: 1vh;
  background-color: var(--sub-color);
  border-radius: 4px;
  position: absolute;
}
.user-walk-info-wrap {
  width: 100%;
  height: 20vh;
  background-color: var(--sub-background);
  border-radius: 20px;
  box-shadow: 2px 6px 6px 3px rgba(0, 0, 0, 0.2);
  margin: 5vh 0;
  box-sizing: border-box;
  padding: 2.5vh 5.2vw 2.5vh 5.2vw;
}
.user-walk-info-value {
  width: 100%;
  height: 7.2vh;
  margin-bottom: 2.4vh;
}
.user-walk-info-value img {
  width: 12.5vw;
  margin-right: 3.2vw;
}
.user-walk-info-value h2 {
  font-size: 1rem;
  margin-top: -4vh;
}
.user-walk-info-value h3 {
  font-size: 0.9rem;
  margin-left: 16vw;
  margin-top: -2vh;
}
.user-total-walk-wrap {
  display: flex;
  align-items: center;
}
.user-walk-info-example-wrap {
  width: 100%;
  height: 6.2vh;
  display: flex;
  justify-content: space-between;
}
.user-walk-info-earth-example,
.user-walk-info-seoulBusan-example,
.user-walk-info-marathon-example {
  width: 24vw;
  height: 100%;
  background-color: var(--point-background);
  border-radius: 10px;
  display: flex;
  font-size: 0.7rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-walk-info-earth-example h3,
.user-walk-info-seoulBusan-example h3,
.user-walk-info-marathon-example h3 {
  margin-bottom: 0.6vh;
}
.user-walk-info-report {
  width: 100%;
  height: 40vh;
  margin-bottom: 4vh;
}
.user-walk-info-report-wrap {
  margin-bottom: 4vh;
}
.user-walk-info-report-text {
  width: 100%;
  height: 6.8vh;
  margin-bottom: 2.4vh;
}
.user-walk-info-report-date {
  display: flex;
  align-items: center;
}
.user-walk-info-report-symbol {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid black;
  margin-right: 3.2vw;
}
.user-walk-info-report-date-text {
  width: 100%;
  height: 2vh;
}
.user-walk-info-report-value {
  width: 100%;
  height: 3.8vh;
  margin-left: 5.3vw;
  margin-top: 1vh;
}
.user-walk-info-report-value h3 {
  font-size: 0.8rem;
  font-weight: 700;
}
.user-walk-info-report-walk-gragh-wrap {
  width: 100%;
  height: 5.4vh;
  background-color: var(--sub-background);
  border-radius: 14px;
  box-sizing: border-box;
  padding: 0.6vh 10vw 0.6vh 6vw;
  box-shadow: 2px 4px 4px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 2vh;
}
.user-walk-info-report-walk-value {
  display: flex;
  justify-content: space-between;
  font-size: 0.5rem;
}
.user-walk-info-report-walk-value strong {
  color: var(--main-color);
  font-weight: 600;
}
.user-walk-info-report-walk-value h4 span {
  margin-left: 10px;
  font-weight: 900;
}
.user-walk-info-report-walk-value p {
  font-size: 0.5rem;
  color: var(--sub-font);
}
.user-walk-info-report-walk-gragh {
  width: 70vw;
  height: 1.2vh;
  position: relative;
  top: 0.5vh;
  float: left;
  margin-top: 0.4vh;
}
.user-walk-info-report-total-walk-gragh {
  width: 100%;
  height: 1vh;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  position: absolute;
}
.user-walk-info-report-user-walk-gragh {
  height: 1vh;
  background-color: var(--main-color);
  border-radius: 4px;
  position: absolute;
}

.user-walk-info-report-money-gragh-wrap {
  width: 100%;
  height: 5.4vh;
  background-color: var(--sub-background);
  border-radius: 14px;
  box-sizing: border-box;
  padding: 0.6vh 10vw 0.6vh 6vw;
  box-shadow: 2px 4px 4px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1vh;
}
.user-walk-info-report-money-value {
  display: flex;
  justify-content: space-between;
  font-size: 0.5rem;
}
.user-walk-info-report-money-value h4 span {
  margin-left: 10px;
  font-weight: 900;
}
.user-walk-info-report-money-value strong {
  color: var(--sub-color);
  font-weight: 600;
}
.user-walk-info-report-money-value p {
  font-size: 0.5rem;
  color: var(--sub-font);
}
.user-walk-info-report-money-gragh{
  width: 70vw;
  height: 1.2vh;
  position: relative;
  top: 0.5vh;
  float: left;
  margin-top: 0.4vh;
}
.user-walk-info-report-total-money-gragh {
  width: 100%;
  height: 1vh;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  position: absolute;
}
.user-walk-info-report-user-money-gragh {
  width: 10vw;
  height: 1vh;
  background-color: var(--sub-color);
  border-radius: 4px;
  position: absolute;
}
.total-title-modal {
  width: 120px;
  height: 160px;
  border: 1px solid black;
  border-radius: 14px;
  background-color: white;
  position: absolute;
  top: 22vh;
  left: 60vw;
}
.hide {
  display: none;
}
.total-title-modal-close-button {
  background-color: white;
  margin: -3vh 1vw 0 0;
  border: none;
  float: right;
}
.total-title-text {
  margin: 2vh 0 0 8vw;
  font-size: 0.8rem;
  font-weight: 800;
}
.each-title {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 0.7rem;
}

.stepErrorModal {
  width: 250px;
  height: 160px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 260px;
  left: 60px;
  z-index: 10;
  border-radius: 20px;
}
.stepErrorModalText {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 24px;
}
.total-title {
  font-weight: 900;
  margin-left: 10px;
  margin-top: 10px;
}
