.mainpage__line {
  width: 100%;
  position: absolute;
  top: 11vh;
  height: 1px;
  border-bottom: 1px solid black;
}
.mainpage__title {
  height: 5.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.5vh;
}
.mainpage__title__text {
  font-size: 1.5rem;
  color: var(--main-color);
}
.mainpage__title__icon img {
  width: 20px;
  height: 20px;
  margin-left: 3vw;
}
