.onboarding__bar {
  width: 74vw;
  height: 5.5vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 10vh;
}
.onboarding__bar__radio input {
  width: 5vw;
  height: 3vh;
}
.onboarding__bar__title {
  text-align: center;
}
.onboarding__bar__radio {
  margin-top: 4vh;
}
