.line {
  width: 100%;
  position: absolute;
  top: 10vh;
  height: 1px;
  border-bottom: 1px solid black;
}
.join {
  margin: 0px 6.4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join__title {
  width: 100%;
  height: 10vh;
}
.join__title img {
  width: 10px;
  margin-top: 5vh;
  float: left;
}
.join__title h2 {
  font-size: 1.4rem;
  float: left;
  margin: 4.5vh 0 1.8vh 28vw;
}
.join__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}
.join__main h3 {
  font-size: 1rem;
  margin-bottom: 2vh;
}
.input__box input {
  width: 99%;
  height: 3vh;
  border: none;
  margin-bottom: 3vh;
  border-bottom: 1px solid var(--line-color);
  background: none;
}
.join__main__phone {
  margin-top: 3vh;
}
.join__main__phone input {
  width: 70%;
}
.join__main__phone button {
  width: 26%;
  height: 3vh;
  font-size: 0.7rem;
  background: none;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 10px;
}
.join__main__certi input {
  width: 70%;
}
.join__main__certi button {
  width: 26%;
  height: 3vh;
  font-size: 0.7rem;
  background: none;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 10px;
}
.join__main__pass__again {
  margin-top: 2vh;
}
.join__main__birth {
  margin-top: 2vh;
}
.join__main__wrap {
  display: flex;
}
.join__main__gender {
  margin-top: 2vh;
}
.join__main__gender__form {
  width: 40vw;
}
.join__main__gender label {
  width: 10%;
  height: 2vh;
}
.join__main__gender input {
  width: 7%;
  height: 1.8vh;
}
.join__main__nick {
  margin-top: 2vh;
}
.join__main__trem {
  position: relative;
  display: flex;
  flex-direction: column;
}
.join__main__trem label {
  font-size: 1rem;
  margin-left: 0px;
}
.join__main__trem span:nth-of-type(1) {
  position: absolute;
  font-size: 0.8rem;
  left: 124px;
  top: 4px;
  color: var(--sub-font);
}
.join__main__trem span:nth-of-type(2) {
  position: absolute;
  font-size: 0.8rem;
  left: 150px;
  top: 24px;
  color: var(--sub-font);
}
.join__main__trem span:nth-of-type(3) {
  position: absolute;
  font-size: 0.8rem;
  left: 200px;
  top: 45px;
  color: var(--sub-font);
}
.join__button button {
  width: 60vw;
  height: 5.5vh;
  background: var(--main-color);
  border: none;
  border-radius: 18px;
  font-size: 1.5rem;
  color: var(--thir-font);
}
.noticeWrongPass,
.noticeNotSamePass,
.noticeWrongBirth {
  font-size: 0.8rem;
  margin-top: -2vh;
}
.joinError {
  margin-top: 10vw;
  margin: auto;
  color: red;
}
