.onboarding-map img:first-child {
  width: 66vw;
  height: 66vw;
  margin-top: 18vh;
  margin-left: 18vw;
}
.onboarding-map img:last-child {
  width: 16px;
  height: 22px;
  position: relative;
  top: -22vh;
  left: -52vw;
}
.onboarding__map__title {
  font-size: 1rem;
  text-align: center;
}
